@charset 'utf-8';

@import "~bulma/sass/utilities/functions";

// add new colors
$default-purple: #642c90 !default;
$default-purple-invert: findColorInvert($default-purple) !default;
$custom-colors: ("default-purple": ($default-purple, $default-purple-invert));

// Import Bulma styles
@import "~bulma/bulma";

// Import rbx style fixes (**very simple**)
@import "~rbx/rbx";

.navbar-item img {
    max-height: none;
}

a.navbar-item:hover {
    color: $default-purple;
}

a.navbar-item.is-active {
    background-color: #fafafa;
    color: $default-purple;
    font-weight: bold;
}