@charset 'utf-8';

@import "~bulma/sass/utilities/functions";

// add new colors
$default-purple: #642c90 !default;
$default-grey: #4a4a4a !default;
$default-purple-invert: findColorInvert($default-purple) !default;
$custom-colors: ("default-purple": ($default-purple, $default-purple-invert));

// Import Bulma styles
@import "~bulma/bulma";

// Import rbx style fixes (**very simple**)
@import "~rbx/rbx";

.navbar-item img {
    max-height: none;
}

a.navbar-item:hover {
    color: $default-purple;
}

a {
    color: $default-purple;
    font-weight: 500;
}

a:hover {
    color: $default-grey;
}

a.navbar-item.is-active {
    background-color: #fafafa;
    color: $default-purple;
    font-weight: bold;
}

.button.is-active {
    background-color: $default-purple;
    color: white;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba($default-purple, 0.5), rgba($default-purple, 0.6)), url("/assets/john-banner.jpg");
  /* Position and center the image to scale nicely on all screens */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-shadow: 3px 3px 5px rgba(0,0,0,0.9);
  color: white;
}
